# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Configure Git user
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Calculate next SemVer
      id: semver
      run: |
        # Adicione aqui a lógica para calcular a próxima versão SemVer com base nas regras do seu projeto
        # Isto é apenas um placeholder
        echo "Calculating next version..."
        # Você poderia usar uma ferramenta como `semver` ou um script personalizado para determinar a próxima versão
        NEXT_VERSION="1.0.0" # exemplo estático, substitua pela sua lógica de cálculo de versão
        echo "::set-output name=next_version::$NEXT_VERSION"

#    - name: Build with Maven
#      run: mvn -B package --file pom.xml
#
#    - name: Publish to GitHub Packages Apache Maven
#      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml

    - name: Release with Maven
      run: |
        mvn release:prepare release:perform -B \
        -DreleaseVersion=${{ steps.semver.outputs.next_version }} \
        -DdevelopmentVersion=${{ steps.semver.outputs.next_version }}-SNAPSHOT \
        -s $GITHUB_WORKSPACE/settings.xml

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
